<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Llaves de Lolsito</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <h1>Pickem Mundial League Of Legends 2020</h1>


    <h2>
        <label for="teams">Selecciona tu Pick'em</label>
    </h2>
    <br/>

    <div class="row">
        <div class="column">
            <select name="teams">
                    <option value="Top">Top Esports</option>
                </select>
            <br/>
            <select name="teams">
                    <option value="Fnatic">Fnatic</option>
                </select>
            <br/>
            <br/>
            <select name="teams">
                    <option value="Sunning">Sunning</option>
                </select>
            <br/>
            <select name="teams">
                    <option value="Jd">JD Gaming</option>
                </select>
            <br/>
            <br/>
            <select name="teams">
                    <option value="GenG">Geng G</option>
                </select>
            <br/>
            <select name="teams">
                    <option value="G2">G2 Esports</option>
                </select>
            <br/>
            <br/>
            <select name="teams">
                    <option value="Dawmon">Dawmon Gaming</option>
                </select>
            <br/>
            <select name="teams">
                    <option value="Drx">DRX</option>
            </select>
        </div>

        <div class="column-2">
            <select name="teams">
                <option value="Top">Top Esports</option>
                <option value="Fnatic">Fnatic</option>
        </select>
            <br/>
            <select name="teams">
            <option value="Sunning">Sunning</option>
            <option value="Jd">Jd Gaming</option>
    </select>
        </div>

    </div>

</body>

</html>